
RewriteEngine on
#redirect to a page inside /public with 404.php
ErrorDocument 404 /404.php

#api
RewriteRule ^/?api/auth/$ index.php?ct=UserController&method=login
RewriteRule ^/?api/register$ index.php?ct=UserController&method=create
RewriteRule ^/?api/alter$ index.php?ct=UserController&method=alter
RewriteRule ^/?api/indexes/([A-Za-z0-9-\s]+)$ index.php?ct=IndexesController&name=$1&method=getIndexesByName
RewriteRule ^/?api/indexes$ index.php?ct=IndexesController&method=get


#logs
RewriteRule ^/?api/logs$ index.php?ct=LogController&method=get
RewriteRule ^/?api/logs/getCsv$ index.php?ct=LogController&method=getCsv
RewriteRule ^/?api/logs/saveCsv$ index.php?ct=LogController&method=saveCsv

#linha para bloquear o fichero callsToApi.php
#AuthUserFile /var/www/examefinal.test/public/.htpasswd AuthName "/var/www/examefinal.test/vendor/callsToApi.php" AuthType Basic  require valid-user